@import '../variables';

forecast{
    position: absolute;
    top: 60px;
    left: 420px;

    > h1{
        text-align: center
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0; 

        li{
            display: inline-block;
            margin-right: 25px;

            weather-icon{
                
                position: relative;
                display: block;
                margin: 15px 0px;
                top : 0;
                left: 0;
                
                .flex{
                    align-items: center;
                }
            }
        }
    }
}