@import '../variables';

datetime{

  position: absolute;
  top: 60px;
  left: 180px;

  .time{
    display: block;
    font-size: 3em;
  }
  .date{
    color: $secondary-color;
    font-weight: 300;
    font-size: 1.2em;
  }
}
