@import 'variables';

body{
  margin: 0;
  padding: 50px;
  background: black;
  color: $primary-color;
  font-family: Roboto;
  font-weight: 300;
  zoom: 90%;
}

h1,h2,h3,h4 {
  color: $primary-color;
  font-family: 'Roboto';
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: 0.025em;
  margin: 0;
  padding: 0;
}

.blink_me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% { opacity: 0.0; }
}

app-root > *{
  animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


