@import '../variables';

home{
  position: absolute;
  right: 60px;
  bottom: 20px;
  text-align: right;

  h1{
    margin-bottom: 10px;
  }
  h2{
    color: $secondary-color;
    font-weight: 300;
    span{
      color:white;
      font-size: 0.8em;
    }
  }
  h3{
    color: white;
  }

  .thermometer_img{
    height: 20px;
    width: 110px;
    text-align: right;
    margin-top: 2px;
    float: left;

    img{
      max-height: 100%;
    }
  }

}
