@import '../variables';

vlille{
  position: absolute;
  right: 60px;
  top: 60px;
  text-align: right;

  h1{
    margin-bottom: 10px;
  }

  .item{
    margin-bottom:10px;
    h2{
      color: $secondary-color;
      font-weight: 300;
    }
  }
}
