@import '../variables';

lunchplace{
    bottom: 20px;
    position: absolute;
    left: 60px;

    h1{
        margin-bottom: 20px;
    }

    > div {

        margin-top: 10px;

        h2{
            color: $secondary-color;
            font-weight: 300;
        }
    }

   
}