@import '../variables';

github{

    position:absolute;
    left: 60px;
    top: 640px;

    h2{
      color: $secondary-color;
      font-weight: 300;
    }
    span{
        color: $secondary-color;
        font-weight: 300;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
    }
}